*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:'comic sans ms';
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 60px;
    font-weight: 1000;
    float: left;
    font-family: serif;
    color: rgb(3, 3, 3);
}

.menu {
    float: right;
    flood-color: aquamarine;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:  #f8f8f8;
    z-index: 1;
    border-bottom: 1px solid #f30404;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    background-color: #f30404;
    text-decoration: none;
    border-radius: 10px;
}
